/* add font */
@font-face {
    font-family: 'diba';
    src: url('../Font/diba.ttf');
}

html,
body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

* {
    font-family: 'diba';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 8px;
}

:root {
    --color-purple: #773cff;
    --color-white: #fff;
    --color-grey: #888;
    --color-grey-input: rgba(230, 230, 230, 0.6);
    --color-light: #eee;
}

.bg-purple {
    background-color: var(--color-purple);
    color: var(--color-white);
}

.btn.btn-purple {
    background-color: var(--color-purple);
    color: var(--color-white);
    border: none;
}

.btn.btn-purple:hover {
    background-color: var(--color-purple);
    color: var(--color-white);
    opacity: .9;
    border: none;

}

img {
    transition: .3s;
}

img:hover {
    filter: brightness(70%);
}

h2 {
    position: relative;
    padding-bottom: 6px;
}

h2:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: var(--color-purple);
}

.parallax {
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ---------------------------       parallax         --------------------------- */
.parallax.one {
    background-image: url("https://picsum.photos/1280");
    border-radius: 0;
    margin-top: 30px;
}

/* ---------------------------       scrollbar         --------------------------- */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}

/* ---------------------------       Header         --------------------------- */
header {
    position: fixed;
    width: 100vw;
    z-index: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.459);
    border-radius: 0;
}

header .nav-link {
    padding: 8px 20px;
}

header .active {
    background-color: var(--color-purple);
    color: var(--color-white) !important;
}

header .active:hover {
    opacity: .9;
}

header .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    border-radius: 100% 0 0 0;
    background: var(--color-purple);
    transition: width .3s;
}

header .nav-link:hover::after {
    width: 100%;
    transition: width .3s;
}

/* search box */
header form .input {
    padding: 10px 10px 10px 40px;
    max-width: 130px;
    height: 40px;
    border: 4px solid var(--color-purple);
    color: var(--color-purple);
    outline: none;
    transition: .5s;
    position: relative;
}

header form:hover input,
header form input:valid {
    max-width: 350px;
}

header button[type=submit] {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 50%;
    transform: translate(-50%, -42%);
    left: 22px;
    font-size: 26px;
    color: var(--color-purple);
}

@media screen and (max-width:991px) {
    header form .input {
        max-width: 100%;
        width: 100%;
    }

    header form:hover input,
    header form input:valid {
        max-width: 100%;
    }
}

/* ---------------------------       Main         --------------------------- */
main {
    margin-top: 30px;
}


/* ---------------------------       Footer         --------------------------- */
footer {
    border-radius: 0;
}

footer i {
    font-size: 1.4em;
    color: var(--color-grey);
    transition: .3s;
}

footer i:hover {
    transform: rotate(360deg);
    color: var(--color-purple);
    font-size: 2em;
}



/* ---------------------------       Team Group         --------------------------- */
#cards .card {
    min-height: 100%;
    background: var(--color-grey-input);
    transition: .3s;

}

#cards .card:hover,
#cards .card:hover .user-picture img {
    outline: 2px solid #773cff;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.459);
}

#cards .card .user-picture img {
    position: absolute;
    top: -30%;
    left: 10%;
    border: 10px solid var(--color-white);
    width: 100px;
    height: 100px;
    background: var(--color-white);
    filter: brightness(100%);
}

#cards .card .user-content {
    text-align: right;
    padding: 0 10px;
}

.user-name {
    color: var(--color-purple);
}

.a-link {
    color: var(--color-purple);
}


/* ---------------------------       Member         --------------------------- */
.member-picture {
    height: auto;
    background: url("https://picsum.photos/1280") center/cover;
    margin-bottom: 20px;
    transition: .5s;
}

@media screen and (max-width:991px) {
    .member-picture {
        height: 50vh;
    }
}

.item-member {
    direction: ltr;
}

.item-member a {
    text-decoration: none;
    color: var(--color-grey);
}

#member .skil::after {
    content: '';
    display: block;
    width: 80px;
    height: 5px;
    background: var(--color-purple);
    animation: move 5s ease-in-out infinite;
}

@keyframes move {
    0% {
        width: 80px;
    }

    70% {
        width: 10px;
    }
}

.skill {
    display: flex;
    flex-direction: column;
    padding: 15px;
    direction: ltr;
}

.skill .skill-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.skill label {
    color: var(--color-grey);
    text-transform: uppercase;
    font-size: small;
}

.skill progress {
    background-color: transparent;
    width: 100%;
}

.skill progress::-moz-progress-bar {
    background-color: var(--color-light);
}

.skill progress::-webkit-progress-value {
    background-color: var(--color-purple);
    border-radius: 4px;
}

.skill progress::-webkit-progress-bar {
    background-color: var(--color-light);
    border-radius: 4px;
}

/* ---------------------------       Contact us         --------------------------- */
.contact-box {
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
    display: flex;
}

.contact-box h2 {
    margin-bottom: 15px;
}

.contact-box .parallax {
    background-image: url("https://picsum.photos/1080");
    border-radius: 8px 0 0 8px;
}

@media screen and (max-width:991px) {
    .contact-box .parallax {
        border-radius: 8px 8px 0 0;
    }
}

@media screen and (max-width:568px) {
    .contact-box .parallax {
        border-radius: 0;
    }
}

.field {
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    background-color: var(--color-grey-input);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field::placeholder {
    color: var(--color-grey);
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

textarea {
    min-height: 150px;
}

.field:focus {
    border: 1px solid var(--color-purple);
    background-color: var(--color-white);
}

/* ---------------------------       Examples of works         --------------------------- */
.splide {
    height: 435px !important;
    direction: ltr;
}

.splide__slide {
    width: 250px;
    height: 340px !important;
    margin: 2px 5px;
}

.splide__slide .card {
    height: 335px;
}

.splide__slide img {
    border-radius: 8px 8px 0 0;
}

.splide__slide .card-body {
    text-align: right;
}

.splide__slide .card-body .card-title {
    text-align: center;
}

.splide__arrow.splide__arrow--next {
    width: 200px;
    height: 100%;
    clip-path: ellipse(38% 50% at 100% 50%);
    display: flex;
    align-items: center;
    justify-content: end;
    transition: .3s;
    right: -10px;
}

.splide__arrow:hover.splide__arrow--next {
    background-color: rgba(0, 0, 0, 0.39);
    right: 0px;
}

.splide__arrow.splide__arrow--prev {
    width: 200px;
    height: 100%;
    clip-path: ellipse(38% 50% at 0% 50%);
    display: flex;
    align-items: center;
    justify-content: start;
    transition: .3s;
    left: -10px;
}

.splide__arrow:hover.splide__arrow--prev {
    background-color: rgba(0, 0, 0, 0.39);
    left: 0px;

}

.splide__arrow svg {
    fill: var(--color-purple);
    margin: 20px;
}

.splide__arrow:hover svg {
    fill: var(--color-white) !important;
}

.splide__pagination__page:hover {
    background: var(--color-purple);
    opacity: .4;
}

.splide__pagination__page.is-active {
    background: var(--color-purple);
}

/* ---------------------------       Blog         --------------------------- */
/* search box */
.search {
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: auto;
    margin-top: 50px;
}

.search form .input {
    padding: 20px 15px;
    padding-left: 40px;
    max-width: 600px;
    width: 100%;
    height: 40px;
    border: 4px solid var(--color-purple);
    outline: none;
    transition: .5s;
    position: relative;
}

.search form .input:focus {
    box-shadow: 0 0 5px 1px var(--color-purple);
    color: var(--color-purple);
}

.search button[type=submit] {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 50%;
    transform: translate(-50%, -42%);
    left: 22px;
    font-size: 26px;
    color: var(--color-purple);
}

.blog-post .card {
    margin: auto;
    max-width: 600px;
}

.blog-post .card img {
    width: 100%;
    max-height: 250px;
    border-radius: 0 4px 4px 0;
}

@media screen and (max-width:768px) {
    .blog-post .card img {
        border-radius: 4px 4px 0 0;
    }
}

.grouping-box {
    width: 100%;
    height: 200px;
    background-color: #763cff85;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}