/* add font */
@font-face {
    font-family: 'diba';
    src: url('../Font/diba.ttf');
}

html,
body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

* {
    font-family: 'diba';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-purple: #773cff;
    --color-white: #fff;
    --color-grey: #888;
    --color-light: #eee;
}

.bg-purple {
    background-color: var(--color-purple);
    color: var(--color-white);
}

.btn.btn-purple {
    background-color: var(--color-purple);
    color: var(--color-white);
    border: none;
}

.btn.btn-purple:hover {
    background-color: var(--color-purple);
    color: var(--color-white);
    opacity: .9;
    border: none;

}

/* ---------------------------       scrollbar         --------------------------- */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}

/* ---------------------------       Header         --------------------------- */
header .nav-link {
    padding: 8px 20px;
}

header .active {
    background-color: var(--color-purple);
    color: var(--color-white) !important;
    border-radius: 8px;
}

header .active:hover {
    opacity: .9;
}

header .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    border-radius: 100% 0 0 0;
    background: var(--color-purple);
    transition: width .3s;
}

header .nav-link:hover::after {
    width: 100%;
    transition: width .3s;
}

/* search box */
header form .input {
    padding: 10px 10px 10px 40px;
    max-width: 130px;
    height: 40px;
    border: 4px solid var(--color-purple);
    border-radius: 8px;
    color: var(--color-purple);
    outline: none;
    transition: .5s;
    position: relative;
}

header form:hover input,
header form input:valid {
    max-width: 350px;
}

header button[type=submit] {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 50%;
    transform: translate(-50%, -42%);
    left: 22px;
    font-size: 26px;
    color: var(--color-purple);
}

@media screen and (max-width:991px) {
    header form .input {
        max-width: 100%;
        width: 100%;
    }

    header form:hover input,
    header form input:valid {
        max-width: 100%;
    }
}

/* ---------------------------       Footer         --------------------------- */
footer i {
    font-size: 1.4em;
    color: var(--color-grey);
    transition: .3s;
}

footer i:hover {
    transform: rotate(360deg);
    color: var(--color-purple);
    font-size: 2em;
}



/* ---------------------------       Team Group         --------------------------- */
#cards .card {
    border-radius: 8px;
    min-height: 100%;
    background: var(--color-light);
}

#cards .card .user-picture img {
    position: absolute;
    top: -30%;
    left: 10%;
    border: 10px solid var(--color-white);
    width: 100px;
    height: 100px;
    background: var(--color-white);
}

#cards .card .user-content {
    text-align: right;
    padding: 0 10px;
}

.user-name {
    color: var(--color-purple);
}

.a-link {
    color: var(--color-purple);
}


/* ---------------------------       Member         --------------------------- */
.member-picture {
    height: auto;
    border-radius: 8px;
    background: url("https://picsum.photos/1280") center/cover;
    margin-bottom: 20px;
    transition: .5s;
}

@media screen and (max-width:991px) {
    .member-picture {
        height: 50vh;
    }
}

.item-member {
    direction: ltr;
}

.item-member a {
    text-decoration: none;
    color: var(--color-grey);
}

#member .skil::after {
    content: '';
    display: block;
    width: 80px;
    height: 5px;
    border-radius: 8px;
    background: var(--color-purple);
    animation: move 5s ease-in-out infinite;
}

@keyframes move {
    0% {
        width: 80px;
    }

    70% {
        width: 10px;
    }
}

.skill {
    display: flex;
    flex-direction: column;
    padding: 15px;
    direction: ltr;
}

.skill .skill-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.skill label {
    color: var(--color-grey);
    text-transform: uppercase;
    font-size: small;
}

.skill progress {
    background-color: transparent;
    width: 100%;
}

.skill progress::-moz-progress-bar {
    background-color: var(--color-light);
}

.skill progress::-webkit-progress-value {
    background-color: var(--color-purple);
    border-radius: 4px;
}

.skill progress::-webkit-progress-bar {
    background-color: var(--color-light);
    border-radius: 4px;
}

/* ........................................................ */
.contact-box {
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    padding: 20px;
}

.left {
    background: url("https://picsum.photos/400") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 200px;
}


.contact-box h2 {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
}

.contact-box h2:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: var(--color-purple);
}

.field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
    border-radius: 8px;
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

textarea {
    min-height: 150px;
}


.field:focus {
    border: 2px solid var(--color-purple);
    background-color: #fff;
}
